@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    font-family: 'Poppins', sans-serif !important;
}
strong{
    font-weight: 800;
}
.navbar-brand{
    font-weight: 800;
}

#pageid{
    display: none;
}

i{
    pointer-events: none
}

nav{
    margin-left: 2rem!important;
    margin-right: 2rem!important;
    margin-top: 0.5rem!important;
    margin-bottom: 0.5rem!important;
}
.dropdown-toggle {
    min-width: 160px;
}
.container{
    width: 100%;
}
.container.border.shadow {
        padding: 30px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
}
.border {
        padding: 30px;
        background-color: #ffffff;
        border-radius: 10px;
}
[contenteditable="true"]:active,
[contenteditable="true"]:focus {
        outline: none;
}
h5 {
        color: #009eca;
}
p {
        font-size: 1.5rem;
        color: #333333;
        margin-bottom: 20px;
}
hr {
        border-top: 4px dashed #8c8b8b;
}

iframe{
    border: 0.3rem solid #ff6060;
    border-color: #ff6060;
    border-radius: 1rem;
}

.development-container {
    text-align: center;
    color: #ff6060;
    border: 0.3rem solid #ff6060;
    border-color: #ff6060;
    border-radius: 1rem;
  }
  .input-development{
    border: 0.1rem solid #ff6060;
    border-color: #ff6060;
    background-color: #ff606007;
  }
  .input-development:focus{
    border: 0.1rem solid #ff6060;
    border-color: #ff6060;
    background-color: #ff606018;
  }
  .btn-development {
    background-color: #ff6060;
    border-color: #ff6060;
    font-weight: bold;
    color: white;
  }
  .btn-development-danger {
    background-color: #cf4e4e;
    border-color: #cf4e4e;
    font-weight: bold;
    color: white;
  }
  .btn-development-danger:hover {
    background-color: #e25555;
    border-color: #e25555;
    font-weight: bold;
    color: white;
  }
  .btn-development:hover {
    background-color: #e25555;
    border-color: #e25555;
    font-weight: bold;
    color: white;
  }
  .settings-container {
    border: 0.3rem solid #000000;
    border-color: #000000;
    border-radius: 1rem;
  }
  .settings-footer{
    margin-top: 2rem;
    text-align: center;
    color: #b1b1b1;
    font-size: small;
  }
  .development-colour{
    color: #ff6060;
  }